// Parameters configuration
params {

    //standard inputs
    inputlist = false
    outdir = 'results'

    //process configurations
    cpus = 8
    memory = '16 GB'
    executor = 'local'
    container = 'dockeraccountdani/fitmsnf:latest' 

}

// ********************************
// Process configuration
process {
    cpus = params.cpus
    memory = params.memory
    executor = params.executor
    container = params.container
}

// ********************************
// Docker configuration
docker {
    enabled = true
}

// ********************************
// Executor configuration
executor {
    name = params.executor
}
