// 0: Manifest
manifest {
name = 'cancer_driver'
description = 'QA processpipeline'
mainScript = 'main.nf'
version = "1.0.0"
}
includeConfig 'conf/customised_pipeline_resources.config'
includeConfig 'conf/containers/quay.config'

// Parameters configuration
params {

//standard inputs
inputlist = false
outdir = 'results'



help = false
// execution related defaults

echo = false
executor = false

// AWS batch
aws_region = 'eu-west-1'
aws_batch_default_queue = "optimal-instance-1tb-ami-on-demand-queue"
aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws'
aws_batch_fetch_instance_type = true
aws_batch_max_parallel_transfers = 2
aws_batch_volumes = '/home/ec2-user/.aws:/root/.aws'

}

profiles {
docker { docker.enabled = true }
lifebit { includeConfig 'conf/lifebit.config' }
dockerhub { includeConfig 'conf/containers/dockerhub.config' }
quay { includeConfig 'conf/containers/quay.config' }
}

includeConfig 'conf/resources.config' // Loads in resources

// ********************************
// Process configuration
process {
queue = params.aws_batch_default_queue

withLabel: cloudos_cli {
container = params.cloudoscli_container
}
withLabel: 'vep' {
container = 'quay.io/lifebitai/vep-nf:v105.0_1.0'
}

}

docker {
enabled = true
}

// ********************************
// Executor configuration
executor {
name = params.executor
queueSize = params.queueSize
}
